<div class="bg-primary-5 text-white pt-5 pb-3 px-5 mb-3 shadow-sm">
  <div class="mb-5 container">
      <!-- HEADER SIN DESCARGAS -->
      <div class='d-none d-flex' id="header_last_download_empty">
        <svg height="55" viewBox="0 0 20 20" class='mt-3' width="55" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" transform="translate(0 1)"><path d="m3.5 6.5 7-4 5.9922779 3.42415879c.62315.35608571 1.0077221 1.01877259 1.0077221 1.73648628v4.67870983c0 .7177137-.3845721 1.3804006-1.0077221 1.7364863l-5 2.8571429c-.6148654.3513516-1.3696904.3513516-1.98455578 0l-5-2.8571429c-.62314999-.3560857-1.00772212-1.0187726-1.00772212-1.7364863 0-1.2454967 0-2.1796192 0-2.8023676"/><path d="m9.55180035 9.98943096c.59195265.31874374 1.30444665.31874374 1.89639925 0l5.5518004-2.98943096"/><path d="m10.5 10.5v6.5"/><path d="m3.5 6.5 7 4-3 1-7-4z"/><path d="m10.5 2.5 7 4 2-2-7-4z"/></g></svg>
        <div class=''>
          <h2 class='mx-3 text-white'> No has descargado nada todavia </h2>
          <a href="/" class="btn text-dark fw-bold border border-dark border-2 bg-green rounded-0 mx-3 px-5 mt-2"> 
            IR A DESCARGAR ALGO 
          </a>
        </div>
      </div>
        
      <!-- HEADER CON DESCARGAS -->
      <div class='d-none d-flex' id="header_last_download_has">
        <svg viewBox="0 0 15 15" fill="none" class='mt-2' xmlns="http://www.w3.org/2000/svg" width="55" height="55"><path d="M7.5 10.5l-3.25-3m3.25 3l3-3m-3 3V1m6 6v6.5h-12V7" stroke="currentColor"></path></svg>
        <div class=''>
          <h2 class="mx-3 text-white"> Ultimas descargas </h2>
          <h4 class="lead mx-3 mb-4 text-white"> Seleccione un video si desea volver a descargarlo. </h4> 
        </div>
      </div>
  </div>
</div>`